<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
    <main>
            <div>
                <div class="login container text-center">
                    <h1>Index</h1>
			        <form action="/index" method="post">
			            <div class="form-group">
			                <label for="username-lbl" class="form-label">User name</label>
			                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus><br/>
			            </div>
			            <div class="form-group">
			                <label for="inputpassword-lbl" class="form-label">Password</label>
			                <input type="password" name="password" id="inputpassword" class="form-control" placeholder="Password" required><br/>
			            </div>
			            <input class="btn btn-lg btn-primary btn-block" type="submit">
			        </form>
			    </div>
			</div>
	    </main>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>